body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background */
  color: #FFFFFF; /* White text */
}

h1, h2, h3 {
  color: #FFFFFF; /* White headings */
  text-align: center;
}

p {
  color: #BBBBBB; /* Light gray text */
  font-size: 18px;
  text-align: justify;
  margin: 20px 40px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.scene {
  padding: 20px;
  margin: 20px;
  border: 1px solid #444444; /* Dark border */
  border-radius: 8px;
  background-color: #1e1e1e; /* Slightly lighter dark background for scenes */
}

.scene-overview {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  padding: 0 10%;
}

.scene-overview img {
  width: 30%;
  height: auto;
  margin-left: auto;
  padding-left: 20px;
}

.scene-overview div {
  width: 70%;
}

.chart-container {
  display: flex;
  justify-content: center; /* Center the chart container */
  margin: 2% 0; /* Use percentages for margin */
  padding: 2%; /* Use percentages for padding */
  width: 100%; /* Ensure chart-container takes full width */
  height: 500px;
}

#manufacturer-chart,
#emissions-chart,
#fuel-efficiency-chart {
  width: 100%; /* Use 100% width for charts */
  height: 500px; /* Fixed height */
}

#manufacturer-chart svg,
#emissions-chart svg,
#fuel-efficiency-chart svg {
  width: 100%; /* Use 100% width for SVG */
  height: auto; /* Adjust height automatically */
}

#tooltip {
  position: absolute;
  display: none;
  background: #333333; /* Dark background for tooltip */
  color: #FFFFFF; /* White text for tooltip */
  border: 1px solid #BBBBBB; /* Light gray border */
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  z-index: 10;
}

.annotation-note-title,
.annotation-note-label {
  fill: #FFFFFF; /* White text for annotations */
}

.x-axis-label,
.y-axis-label {
  fill: #FFFFFF; /* White text for axis labels */
  font-size: 18px;  /* Set the desired font size */
  font-style: italic;
}

.legend {
  font-size: 14px;
}

.legend-item rect {
  stroke: #FFFFFF; /* White border around legend items for better visibility */
}

.button-group {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button-group button {
  margin: 0 10px;
}

